<div class="bg-gray-100 h-60 p-4 relative flex justify-center items-center text-gray-500">
  <span>TODO:</span> Company bg picture
</div>
<div>
  <div class="flex flex-row items-end pl-5">
    <img [src]="user?.avatar" alt="User avatar" class="h-40 w-40 -mt-24 rounded-full shadow-md z-10 hover:grayscale transition-all ease-in-out">
    <div class="ml-4 pt-4 flex-grow">
      <h1 class="text-3xl font-semibold dark:text-gray-50 text-gray-800">{{ user?.name }} <span class="text-sm text-gray-400">Santiago, Chile</span></h1>
      <p class="text-sm dark:text-gray-50 text-gray-800">{{ user?.position }}</p>
    </div>
    <div class="mr-4">
      <span class="dark:text-red-500 font-bold">TODO:</span> <span class="dark:text-white"> Company name</span>
    </div>
  </div>
</div>
